* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
}

.login_body {
  display: flex;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.round_border {
  border-radius: 2em;
}

.login_body, .main {
  justify-content: center;
}

.main {
  align-items: center;
  box-shadow: 5px 8px 10px 10px rgba(0, 0, 0, 0.37);
  height: 80vh;
  margin: 3em;
  width: 85vw;
}

.header {
  margin-bottom: 8em;
  text-align: center;
}

h1 {
  color: #a5f3ea;
  font-size: 4vmax;
}

h4 {
  color: #9acfc9;
  font-size: 3vmax;
  font-weight: 200;
}

.name_container {
  gap: 0.8em;
  margin-bottom: 2em;
}

.input {
  background-color: #333;
  border-color: white;
  border-radius: 0;
  border-width: 0 0 1px;
  font-size: 1em;
  outline: 0;
  padding-bottom: 0.4em;
}

.input:focus {
  border-color: #28e2cc;
}

.button {
  background-color: #333;
  border: 1px solid grey;
  font-size: 1em;
  padding: 1em 2em;
}

.button:hover:enabled {
  background-color: #383838;
  border: 1px solid #28e2cc;
  color: #a5f3ea;
}
